.calc__header__title {
    color: white;
    font-weight: 600;
    text-align: center;
    font-size: 29px;
    font-family: "WorkSansbold";
    min-height: 60px;
    margin-top: 20px;
}

.calc__header__subtitle {
    color: #fafafa;
    font-size: 18px;
    opacity: .8;
    font-family: "Helvetica";
    min-height: 40px;
}

.block-right__about__title {
    color: white;
    font-weight: 300;
    font-size: 18px;
    font-family: "WorkSans";
}